html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "ProximaNovaRegular";
  position: relative;
  overflow: scroll;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
@font-face {
  font-family: ProximaNovaRegular;
  src: url(src/fonts/ProximaNovaRegular.otf);
}
@font-face {
  font-family: ProximaNovaLight;
  src: url(src/fonts/ProximaNovaLight.otf);
}
@font-face {
  font-family: ProximaNovaBold;
  src: url(src/fonts/ProximaNovaBold.otf);
}
@font-face {
  font-family: ProximaNovaSemibold;
  src: url(src/fonts/ProximaNovaSemibold.otf);
}
.clearfix {
  height: 0px;
  clear: both;
}
.container {
  width: 1186px;
  margin: 0 auto;
}
.page-header {
  padding-top: 27px;
  background-image: url("src/img/header-bg.png");
  background-size: cover;
  min-width: 1186px;
}
.page-header__top {
  display: flex;
  height: 56px;
  justify-content: space-between;
  margin-bottom: 58px;
}
.page-header__logo {
  width: 183px;
  margin-right: 5px;
}
.page-header__title {
  color: #2c3e50;
  font-family: "ProximaNovaLight";
  font-size: 42px;
  line-height: 46px;
  margin-bottom: -12px;
}
.page-header__title--green {
  color: #4ab14a;
}
.page-header__descr {
  color: #8b9197;
  font-size: 22px;
  margin-bottom: 55px;
}
.page-header__screen {
  width: 645px;
  float: left;
  margin-right: 40px;
}
.page-header__next {
  background-color: white;
  height: 94px;
  color: #2c3e50;
  font-size: 16px;
  line-height: 24px;
  padding-top: 25px;
  text-align: center;
}
.page-header__next p {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.page-header__next a {
  position: relative;
  margin: 0 auto;
  max-width: 21px;
  text-align: center;
}
.page-header__next a::after {
  position: absolute;
  content: "";
  width: 21px;
  height: 10px;
  background-image: url("src/img/sprite.png");
  background-repeat: no-repeat;
  background-position: -20px -809px;
}
.main-nav {
  display: flex;
  width: 370px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 296px;
  padding-top: 22px;
}
.main-nav__item a {
  color: #5f6d7c;
}
.main-nav__item--active a {
  color: #2c3e50;
}
.btn {
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  height: 36px;
  line-height: 35px;
  font-size: 15px;
}
.btn__enter {
  width: 74px;
  background-color: #4ab14a;
  color: white;
  border: none;
  text-align: center;
  margin-top: 13px;
}
.btn__registration {
  width: 140px;
  background-color: none;
  color: #7d8993;
  border-color: #8b9197;
  text-align: center;
  margin-top: 13px;
  margin-right: -32px;
}
.main-capabilities {
  padding-left: 110px;
  float: left;
  margin-right: 110px;
}
.main-capabilities__link--hidden {
  display: none;
}
.main-capabilities__descr {
  position: relative;
  font-size: 18px;
  margin-left: -40px;
}
.main-capabilities__descr--green {
  color: #63be63;
  font-family: "ProximaNovaBold";
}
.main-capabilities__descr::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 13px;
  background-image: url("src/img/sprite.png");
  background-repeat: no-repeat;
  background-position: -61px -815px;
  left: 332px;
  top: 12px;
}
.main-capabilities__try-btn--hidden {
  display: none;
}
.capabilities-list {
  margin-bottom: 38px;
}
.capabilities-list__item {
  position: relative;
  color: #2c3e50;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 8px;
}
.capabilities-list__item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 12px;
  background-image: url("src/img/sprite.png");
  background-repeat: no-repeat;
  background-position: -91px -693px;
  left: -40px;
  top: 8px;
}
.main-features {
  background-image: url("src/img/features-bg.png");
  padding-top: 117px;
  background-size: cover;
  min-width: 1186px;
}
.main-features__title {
  position: relative;
  color: #2c3e50;
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
}
.main-features__title--green {
  color: #4ab14a;
}
.main-features__title::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: none;
  border: 1px solid #c3cfd7;
  border-radius: 50%;
  top: -80px;
  left: 560px;
  background-image: url("src/img/sprite.png");
  background-repeat: no-repeat;
  background-position: -57px -750px;
}
.main-features .capabilities-list {
  float: right;
  margin-right: 35px;
  margin-top: 10px;
}
.main-features__screen {
  width: 680px;
  margin-bottom: 63px;
}
.optional-features {
  padding-top: 106px;
}
.optional-features__title {
  position: relative;
  color: #2c3e50;
  font-size: 40px;
  line-htight: 47px;
  font-family: "ProximaNovaLight";
  text-align: center;
  margin-bottom: 26px;
}
.optional-features__title::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: none;
  border: 1px solid #c3cfd7;
  border-radius: 50%;
  top: -75px;
  left: 562px;
  background-image: url("src/img/sprite.png");
  background-repeat: no-repeat;
  background-position: -6px -744px;
}
.features-list {
  padding-left: 70px;
  padding-right: 77px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}
.features-list__item {
  width: 430px;
  position: relative;
  border-bottom: 1px dotted #cacaca;
  padding-left: 90px;
  box-sizing: border-box;
  height: 120px;
  line-height: 120px;
}
.features-list__item p {
  line-height: 24px;
  color: black;
  font-size: 17px;
  vertical-align: middle;
  display: inline-block;
}
.features-list__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("src/img/sprite.png");
}
.features-list__item--planning::before {
  width: 57px;
  height: 57px;
  background-position: -20px -400px;
  top: 32px;
  left: 3px;
}
.features-list__item--networking::before {
  width: 58px;
  height: 56px;
  background-position: -20px -324px;
  top: 38px;
  left: 0px;
}
.features-list__item--team::before {
  width: 53px;
  height: 52px;
  background-position: -20px -621px;
  top: 32px;
  left: 3px;
}
.features-list__item--history::before {
  width: 60px;
  height: 65px;
  background-position: -20px -107px;
  top: 25px;
  left: 3px;
}
.features-list__item--note::before {
  width: 56px;
  height: 56px;
  background-position: -20px -477px;
  top: 29px;
  left: 6px;
}
.features-list__item--folders::before {
  width: 59px;
  height: 55px;
  background-position: -20px -249px;
  top: 28px;
  left: 2px;
}
.features-list__item--calendar::before {
  width: 53px;
  height: 48px;
  background-position: -20px -553px;
  top: 32px;
  left: 5px;
}
.features-list__item--export::before {
  width: 51px;
  height: 51px;
  background-position: -20px -693px;
  top: 26px;
  left: 3px;
}
.features-list__item--clouds::before {
  width: 59px;
  height: 37px;
  background-position: -20px -192px;
  top: 40px;
  left: 3px;
}
.features-list__item--clouds {
  border: none;
}
.features-list__item--server::before {
  width: 56px;
  height: 51px;
  background-position: -20px -909px;
  top: 32px;
  left: 3px;
}
.features-list__item--server {
  border: none;
}
.integration {
  width: 1045px;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid #d0d9e2;
  border-radius: 5px;
  margin: 0 auto;
  padding-left: 55px;
  padding-right: 215px;
  margin-bottom: 65px;
  display: flex;
  justify-content: space-between;
}
.integration p {
  color: #2c3e50;
  font-size: 28px;
  line-height: 150px;
  margin: 0;
  margin-right: 55px;
}
.integration__item {
  width: 180px;
  margin-top: 37px;
}
.integration__item img {
  width: 162px;
}
.integration__item p {
  font-size: 17px;
  color: black;
  line-height: 28px;
  margin-right: 0;
  margin-top: 13px;
}
.integration__item--webasyst {
  position: relative;
}
.integration__item--webasyst::after {
  content: "Скоро";
  position: absolute;
  border-radius: 27px;
  box-sizing: border-box;
  width: 65px;
  height: 27px;
  background-color: #fab700;
  color: white;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  left: 185px;
  top: 48px;
}
.income-and-expenses {
  padding-top: 70px;
  background-image: url("src/img/features-bg.png");
  background-size: cover;
  min-width: 1186px;
}
.income-and-expenses .container {
  padding-left: 70px;
  box-sizing: border-box;
}
.income-and-expenses__descr {
  display: inline-block;
  font-size: 32px;
  line-height: 47px;
  color: #2c3e50;
  width: 790px;
  margin-right: 0;
  margin-bottom: 130px;
}
.income-and-expenses__descr--green {
  color: #66bd66;
}
.income-and-expenses .capabilities-list {
  position: relative;
  padding-left: 95px;
  font-size: 17px;
  float: left;
}
.income-and-expenses .capabilities-list::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 295px;
  border: 1px solid #d0d9e2;
  border-radius: 10px 0 0 10px;
  border-right: none;
  top: -60px;
  left: 0px;
}
.income-and-expenses__screen {
  width: 675px;
  margin-top: -90px;
  margin-left: -22px;
  margin-bottom: 60px;
  z-index: 20;
}
.cost {
  padding-top: 80px;
  margin-bottom: 64px;
}
.cost__title {
  position: relative;
  font-size: 34px;
  font-faimly: "ProximaNovaSemibold";
  color: #2c3e50;
  text-align: center;
  line-height: 45px;
  margin-bottom: 5px;
}
.cost__title::before {
  content: "";
  position: absolute;
  width: 107px;
  height: 86px;
  background-image: url("src/img/sprite.png");
  background-repeat: no-repeat;
  background-position: -20px 0px;
  left: 545px;
  top: -95px;
}
.cost__descr {
  text-align: center;
  font-size: 20px;
  color: #2c3e50;
  line-htight: 40px;
  margin: 0;
  margin-bottom: 52px;
}
.price {
  width: 1186px;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 28px 0px;
}
.price td {
  padding-left: 10px;
  border-top: none;
  border-left: 1px solid #d0d9e2;
  border-right: 1px solid #e7ecf0;
  width: 280px;
}
.price tr,
.price td {
  text-align: center;
  color: #2c3e50;
}
.price__months {
  background-color: #f8fbfb;
  line-height: 62px;
  font-family: "ProximaNovaSemibold";
  font-size: 20px;
}
.price__months td {
  border-top: 1px solid #d0d9e2;
  border-bottom: 1px solid #e7ecf0;
}
.price__prev-cost {
  line-height: 44px;
  font-family: "ProximaNovaLight";
  font-size: 22px;
  text-decoration: line-through;
  opacity: 0.7;
}
.price__prev-cost td {
  padding-top: 20px;
}
.price__current-cost {
  line-height: 26px;
  font-family: "ProximaNovaRegular";
  font-size: 26px;
}
.price__current-cost td {
  border-bottom: 1px solid #d0d9e2;
  padding-bottom: 25px;
}
.registration-form {
  background-color: #63be63;
  padding-top: 30px;
  padding-bottom: 68px;
  min-width: 1186px;
}
.registration-form__title {
  position: relative;
  font-size: 32px;
  line-htight: 47px;
  text-align: center;
  color: white;
  margin-bottom: 37px;
}
.registration-form__title::before {
  content: "";
  position: absolute;
  border: 30px solid transparent;
  border-bottom: 18px solid #63be63;
  top: -100px;
  left: 565px;
}
.registration-form__title--green {
  font-family: "ProximaNovaSemibold";
  color: #c7fa90;
}
.registration-form__email {
  width: 353px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid #4ab14a;
  margin-left: 135px;
  margin-right: 15px;
  font-size: 15px;
  color: #2c3e50;
  padding-left: 42px;
  background-image: url("src/img/sprite.png");
  background-repeat: no-repeat;
  background-position: -8px -963px;
}
.registration-form__password {
  width: 218px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid #4ab14a;
  margin-right: 25px;
  font-size: 15px;
  color: #2c3e50;
  padding-left: 42px;
  background-image: url("src/img/sprite.png");
  background-repeat: no-repeat;
  background-position: -8px -1000px;
}
.registration-form__submit {
  width: 220px;
  height: 44px;
  border-radius: 5px;
  border: 2px solid white;
  background: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
.page-footer {
  padding-top: 52px;
  padding-bottom: 40px;
}
.page-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.page-footer__logo {
  width: 120px;
}
.page-footer__right {
  width: 400px;
  position: relative;
}
.page-footer__right::before {
  content: "";
  position: absolute;
  height: 85px;
  border-left: 1px solid #cad1ca;
  right: 469px;
  top: 3px;
}
.page-footer__requisites {
  float: left;
  margin-top: 10px;
  font-family: "ProximaNovaBold";
  font-size: 14px;
  margin-right: 180px;
}
.page-footer__ltd {
  float: left;
  font-size: 14px;
  margin-top: 10px;
}
.page-footer__copyright {
  float: right;
  font-size: 14px;
  margin-top: 10px;
}
.footer-nav {
  margin-top: 5px;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90px;
  width: 498px;
}
.social__title {
  font-family: "ProximaNovaBold";
  font-size: 14px;
  margin-top: 10px;
  float: left;
  margin-right: 60px;
  margin-bottom: 0;
}
.social__item {
  float: left;
}
.social__item:not(:last-child) {
  margin-right: 16px;
}
.social__circle {
  margin-top: 2px;
  width: 29px;
  height: 29px;
  border: #cad1ca 2px solid;
  border-radius: 50px;
  background-color: transparent;
  background-image: url("src/img/sprite.png");
  background-repeat: no-repeat;
}
.social__yt-btn {
  background-position: -14px -868px;
}
.social__ig-btn {
  background-position: -14px -833px;
}
.social__fb-btn {
  background-position: -88px -396px;
}
.social__vk-btn {
  background-position: -51px -839px;
}
.registration-pop-up {
  display: none;
  width: 582px;
  background: white;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 60px;
  position: absolute;
  top: 193px;
  left: 380px;
}
.registration-pop-up--visible {
  display: block;
}
.registration-pop-up__exit {
  width: 20px;
  height: 20px;
  position: absolute;
  color: #bec1c5;
  font-size: 35px;
  font-family: Arial;
  transform: rotate(45deg);
  transform-origin: center center;
  top: 10px;
  right: 10px;
}
.registration-pop-up__title {
  font-size: 32px;
  text-align: center;
  color: #2c3e50;
  margin-bottom: 35px;
}
.registration-pop-up .registration-form__email {
  display: block;
  width: 343px;
  margin: 0 auto;
  margin-bottom: 22px;
}
.registration-pop-up .registration-form__password {
  display: block;
  width: 343px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.registration-pop-up .registration-form__checkbox {
  display: none;
}
.registration-pop-up .registration-form__checkbox:checked + label::before {
  cursor: pointer;
  background-image: url("src/img/sprite.png");
  background-repeat: bo-repeat;
  background-position: -88px -690px;
}
.registration-pop-up .registration-form__checkbox + label {
  display: block;
  width: 388px;
  margin: 0 auto;
  color: #6b7884;
  vertical-align: middle;
}
.registration-pop-up .registration-form__checkbox + label a {
  text-decoration: underline;
  color: #6b7884;
}
.registration-pop-up .registration-form__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  vertical-align: middle;
  border: 1px solid #ccd2d9;
  border-radius: 6px;
}
.registration-pop-up .registration-form__submit {
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  background-color: #63be63;
  border: none;
  width: 215px;
}
.enter-pop-up {
  display: none;
  width: 582px;
  background: white;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 105px;
  position: absolute;
  top: 193px;
  left: 380px;
}
.enter-pop-up--visible {
  display: block;
}
.enter-pop-up__exit {
  width: 20px;
  height: 20px;
  position: absolute;
  color: #bec1c5;
  font-size: 35px;
  font-family: Arial;
  transform: rotate(45deg);
  transform-origin: center center;
  top: 10px;
  right: 10px;
}
.enter-pop-up__title {
  font-size: 32px;
  text-align: center;
  color: #2c3e50;
  margin-bottom: 35px;
}
.enter-pop-up .registration-form__email {
  display: block;
  width: 343px;
  margin: 0 auto;
  margin-bottom: 22px;
}
.enter-pop-up .registration-form__password {
  display: block;
  width: 343px;
  margin: 0 auto;
  margin-bottom: 5px;
}
.enter-pop-up .registration-form__submit {
  margin-top: 30px;
  background-color: #63be63;
  border: none;
  width: 175px;
  margin-left: 98px;
  margin-right: 30px;
}
.enter-pop-up__forgot-pass {
  color: #4ab14a;
  font-size: 15px;
  text-decoration: underline;
}
