html,
body
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'ProximaNovaRegular';

    position: relative;

    overflow: scroll;
}
ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}
a
{
    text-decoration: none;

    color: black;
}
@font-face
{
    font-family: ProximaNovaRegular;

    src: url(src/fonts/ProximaNovaRegular.otf);
}
@font-face
{
    font-family: ProximaNovaLight;

    src: url(src/fonts/ProximaNovaLight.otf);
}
@font-face
{
    font-family: ProximaNovaBold;

    src: url(src/fonts/ProximaNovaBold.otf);
}
@font-face
{
    font-family: ProximaNovaSemibold;

    src: url(src/fonts/ProximaNovaSemibold.otf);
}
.clearfix
{
    clear: both;

    height: 0;
}
.container
{
    width: 1186px;
    margin: 0 auto;
}
@media (max-width: 640px)
{
    .container
    {
        width: 586px;
    }
}
.page-header
{
    min-width: 1186px;
    padding-top: 27px;

    background-image: url('src/img/header-bg.png');
    background-size: cover;
}
.page-header__top
{
    display: flex;

    height: 56px;
    margin-bottom: 58px;

    justify-content: space-between;
}
.page-header__logo
{
    width: 183px;
    margin-right: 5px;
}
.page-header__title
{
    font-family: 'ProximaNovaLight';
    font-size: 42px;
    line-height: 46px;

    margin-bottom: -12px;

    color: #2c3e50;
}
.page-header__title--green
{
    color: #4ab14a;
}
.page-header__title--small-screen
{
    display: none;
}
.page-header__descr
{
    font-size: 22px;

    margin-bottom: 55px;

    color: #8b9197;
}
.page-header__screen
{
    float: left;

    width: 645px;
    margin-right: 40px;
}
.page-header__next
{
    font-size: 16px;
    line-height: 24px;

    height: 94px;
    padding-top: 25px;

    text-align: center;

    color: #2c3e50;
    background-color: white;
}
.page-header__next p
{
    width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.page-header__next a
{
    position: relative;

    max-width: 21px;
    margin: 0 auto;

    text-align: center;
}
.page-header__next a::after
{
    position: absolute;
    top: -3px;
    left: -11px;

    width: 25px;
    height: 15px;

    content: '';

    background-image: url('src/img/sprite.png');
    background-repeat: no-repeat;
    background-position: -8px -771px;
    background-size: 84px;
}
@media (max-width: 640px), handheld
{
    .page-header
    {
        width: 640px;
        min-width: 640px;
        padding-top: 50px;
    }
    .page-header__top
    {
        height: 72px;
        margin-bottom: 104px;
    }
    .page-header__logo
    {
        width: 253px;
        margin-right: 0;

        order: 1;
    }
    .page-header__title
    {
        font-size: 56px;
        line-height: 80px;

        margin-bottom: -10px;
    }
    .page-header__title--small-screen
    {
        display: block;
    }
    .page-header__title--large-screen
    {
        display: none;
    }
    .page-header__descr
    {
        font-size: 36px;
        line-height: 64px;

        margin-bottom: 25px;
    }
    .page-header__screen
    {
        width: 586px;
    }
    .page-header__next
    {
        width: 640px;
        height: 265px;
    }
    .page-header__next p
    {
        font-size: 26px;
        line-height: 46px;

        display: inline-block;

        width: 540px;
        margin-right: 0;
        margin-left: 0;

        text-align: center;
    }
    .page-header__next a::after
    {
        position: absolute;
        top: 50px;
        left: -292px;

        width: 42px;
        height: 20px;

        content: '';

        background-position: -20px -1542px;
        background-size: 167px;
    }
}
.main-nav
{
    display: flex;

    width: 370px;
    margin-right: 296px;
    padding-top: 22px;

    justify-content: space-between;
    flex-wrap: wrap;
}
.main-nav__item a
{
    color: #5f6d7c;
}
.main-nav__item--active a
{
    color: #2c3e50;
}
@media (max-width: 640px), handheld
{
    .main-nav
    {
        position: relative;

        width: 72px;
        height: 72px;
        margin-right: 0;
        padding-top: 0;

        cursor: pointer;

        border-radius: 10px;
        background-color: #4ab14a;
    }
    .main-nav::after
    {
        font-size: 60px;

        position: absolute;
        top: 0;
        left: 19px;

        content: '\2261';

        color: white;
    }
    .main-nav__item
    {
        display: none;
    }
}
.btn
{
    font-size: 15px;
    line-height: 35px;

    box-sizing: border-box;
    height: 36px;

    border: 1px solid black;
    border-radius: 5px;
}
.btn__enter
{
    width: 74px;
    margin-top: 13px;

    text-align: center;

    color: white;
    border: none;
    background-color: #4ab14a;
}
.btn__registration
{
    width: 140px;
    margin-top: 13px;
    margin-right: -32px;

    text-align: center;

    color: #7d8993;
    border-color: #8b9197;
    background-color: none;
}
@media (max-width: 640px), handheld
{
    .btn__registration
    {
        display: none;
    }
    .btn__enter
    {
        width: 42px;
        height: 42px;
        margin-top: 18px;

        background-color: transparent;
        background-image: url('src/img/sprite.png');
        background-repeat: no-repeat;
        background-position: -82px -1542px;

        order: 2;
    }
}
.main-capabilities
{
    float: left;

    margin-right: 110px;
    padding-left: 110px;
}
.main-capabilities__link--hidden
{
    display: none;
}
.main-capabilities__descr
{
    font-size: 18px;

    position: relative;

    margin-left: -40px;
}
.main-capabilities__descr--green
{
    font-family: 'ProximaNovaBold';

    color: #63be63;
}
.main-capabilities__descr::after
{
    position: absolute;
    top: 5px;
    left: 332px;

    width: 26px;
    height: 20px;

    content: '';

    background-image: url('src/img/sprite.png');
    background-repeat: no-repeat;
    background-position: -55px -745px;
    background-size: 84px;
}
.main-capabilities__try-btn--hidden
{
    display: none;
}
@media (max-width: 640px), handheld
{
    .main-capabilities
    {
        margin-right: 0;
        margin-bottom: 97px;
        padding-left: 0;
    }
    .main-capabilities .capabilities-list
    {
        display: none;
    }
    .main-capabilities__link
    {
        font-size: 32px;
        line-height: 32px;

        position: relative;

        color: #4ab14a;
        border-bottom: 2px dashed #4ab14a;
    }
    .main-capabilities__link::after
    {
        position: absolute;
        top: 12px;
        right: -41px;

        width: 18px;
        height: 24px;

        content: '';

        background-image: url('src/img/sprite.png');
        background-repeat: no-repeat;
        background-position: -109px -1387px;
    }
    .main-capabilities__descr
    {
        display: none;
    }
    .main-capabilities__try-btn
    {
        width: 586px;
        height: 80px;
        margin-top: -20px;
        margin-bottom: 12px;

        text-align: center;

        border-radius: 10px;
        background-color: #4ab14a;
        background-image: none;
    }
    .main-capabilities__try-btn a
    {
        font-size: 34px;

        color: white;
    }
}
.capabilities-list
{
    margin-bottom: 38px;
}
.capabilities-list__item
{
    font-size: 16px;
    line-height: 30px;

    position: relative;

    margin-bottom: 8px;

    color: #2c3e50;
}
.capabilities-list__item::before
{
    position: absolute;
    top: 8px;
    left: -40px;

    width: 16px;
    height: 12px;

    content: '';

    background-image: url('src/img/sprite.png');
    background-repeat: no-repeat;
    background-position: -10px -840px;
    background-size: 84px;
}
@media (max-width: 640px), handheld
{
    .capabilities-list__item
    {
        font-size: 30px;
        line-height: 44px;

        margin-bottom: 27px;
        margin-left: 67px;
    }
    .capabilities-list__item::before
    {
        top: 4px;
        left: -67px;

        width: 32px;
        height: 25px;

        background-position: -20px -1669px;
        background-size: 167px;
    }
}
.main-features
{
    min-width: 1186px;
    padding-top: 117px;

    background-image: url('src/img/features-bg.png');
    background-size: cover;
}
.main-features__title
{
    font-size: 32px;

    position: relative;

    margin-bottom: 50px;

    text-align: center;

    color: #2c3e50;
}
.main-features__title--green
{
    color: #4ab14a;
}
.main-features__title::before
{
    position: absolute;
    top: -80px;
    left: 560px;

    width: 65px;
    height: 65px;

    content: '';

    border: 1px solid #c3cfd7;
    border-radius: 50%;
    background-color: none;
}
.main-features__title::after
{
    position: absolute;
    top: -70px;
    left: 580px;

    width: 40px;
    height: 45px;

    content: '';

    background-image: url('src/img/sprite.png');
    background-repeat: no-repeat;
    background-position: -10px -728px;
    background-size: 84px;
}
.main-features .capabilities-list
{
    float: right;

    margin-top: 10px;
    margin-right: 35px;
}
.main-features__screen
{
    width: 680px;
    margin-bottom: 63px;
}
@media (max-width: 640px), handheld
{
    .main-features
    {
        overflow: hidden;

        width: 640px;
        min-width: 640px;
        padding-top: 222px;
    }
    .main-features .capabilities-list
    {
        margin-right: 0;
    }
    .main-features__title
    {
        font-size: 40px;
        line-height: 62px;

        width: 586px;
        margin-bottom: 55px;
    }
    .main-features__title::before
    {
        top: -161px;
        left: 227px;

        width: 120px;
        height: 120px;

        border-width: 4px;
    }
    .main-features__title::after
    {
        position: absolute;
        top: -133px;
        left: 260px;

        width: 57px;
        height: 64px;

        content: '';

        background-image: url('src/img/sprite.png');
        background-repeat: no-repeat;
        background-position: -20px -1458px;
        background-size: 167px;
    }
    .main-features__screen
    {
        width: 720px;
        margin-bottom: 45px;
        margin-left: -65px;
    }
}
.optional-features
{
    padding-top: 106px;
}
.optional-features__title
{
    font-family: 'ProximaNovaLight';
    font-size: 40px;

    position: relative;

    margin-bottom: 26px;

    text-align: center;

    color: #2c3e50;

    line-htight: 47px;
}
.optional-features__title::before
{
    position: absolute;
    top: -75px;
    left: 562px;

    width: 65px;
    height: 65px;

    content: '';

    border: 1px solid #c3cfd7;
    border-radius: 50%;
    background-color: none;
}
.optional-features__title::after
{
    position: absolute;
    top: -60px;
    left: 578px;

    width: 40px;
    height: 40px;

    content: '';

    background-image: url('src/img/sprite.png');
    background-repeat: no-repeat;
    background-position: -10px -693px;
    background-size: 84px;
}
@media (max-width: 640px), handheld
{
    .optional-features
    {
        overflow: hidden;

        width: 640px;
        min-width: 640px;
        padding-top: 231px;
    }
    .optional-features .container
    {
        position: relative;
    }
    .optional-features__title
    {
        font-size: 44px;
        line-height: 52px;

        width: 586px;
        margin-bottom: 20px;
    }
    .optional-features__title::before
    {
        top: -177px;
        left: 242px;

        width: 120px;
        height: 120px;

        border-width: 4px;
        background-position: 5px -1358px;
    }
    .optional-features__title::after
    {
        position: absolute;
        top: -143px;
        left: 270px;

        width: 69px;
        height: 51px;

        content: '';

        background-image: url('src/img/sprite.png');
        background-repeat: no-repeat;
        background-position: -20px -1387px;
        background-size: 167px;
    }
}
.features-list
{
    display: flex;

    margin-bottom: 15px;
    padding-right: 77px;
    padding-left: 70px;

    flex-wrap: wrap;
    justify-content: space-between;
}
.features-list__item
{
    line-height: 120px;

    position: relative;

    box-sizing: border-box;
    width: 430px;
    height: 120px;
    padding-left: 90px;

    border-bottom: 1px dotted #cacaca;
}
.features-list__item p
{
    font-size: 17px;
    line-height: 24px;

    display: inline-block;

    vertical-align: middle;

    color: black;
}
.features-list__item::before
{
    position: absolute;

    content: '';

    background-image: url('src/img/sprite.png');
    background-repeat: no-repeat;
    background-size: 84px;
}
.features-list__item--planning::before
{
    top: 32px;
    left: 3px;

    width: 57px;
    height: 59px;

    background-position: -10px -317px;
}
.features-list__item--networking::before
{
    top: 38px;
    left: 0;

    width: 60px;
    height: 60px;

    background-position: -10px -251px;
}
.features-list__item--team::before
{
    top: 29px;
    left: 3px;

    width: 53px;
    height: 57px;

    background-position: -10px -570px;
}
.features-list__item--history::before
{
    top: 23px;
    left: 3px;

    width: 60px;
    height: 67px;

    background-position: -10px -63px;
}
.features-list__item--note::before
{
    top: 25px;
    left: 6px;

    width: 60px;
    height: 60px;

    background-position: -10px -384px;
}
.features-list__item--folders::before
{
    top: 24px;
    left: 0;

    width: 61px;
    height: 60px;

    background-position: -10px -137px;
}
.features-list__item--calendar::before
{
    top: 26px;
    left: 5px;

    width: 55px;
    height: 55px;

    background-position: -10px -512px;
}
.features-list__item--export::before
{
    top: 20px;
    left: 3px;

    width: 51px;
    height: 55px;

    background-position: -10px -632px;
}
.features-list__item--clouds::before
{
    top: 35px;
    left: 3px;

    width: 59px;
    height: 39px;

    background-position: -10px -204px;
}
.features-list__item--clouds
{
    border: none;
}
.features-list__item--server::before
{
    top: 17px;
    left: 0;

    width: 60px;
    height: 55px;

    background-position: -10px -451px;
}
.features-list__item--server
{
    border: none;
}
.features-list__control
{
    display: none;
}
@media (max-width: 640px), handheld
{
    .features-list
    {
        width: 1200px;
        margin-bottom: 125px;
        padding-right: 0;
        padding-left: 0;
    }
    .features-list__item
    {
        line-height: 220px;

        width: 586px;
        height: 224px;
        padding-left: 180px;
    }
    .features-list__item p
    {
        font-size: 30px;
        line-height: 44px;
    }
    .features-list__item--server,
    .features-list__item--clouds
    {
        border-bottom: 1px dotted #cacaca;
    }
    .features-list__item::before
    {
        background-size: 167px;
    }
    .features-list__item--planning::before
    {
        top: 46px;
        left: 13px;

        width: 114px;
        height: 114px;

        background-position: -20px -635px;
    }
    .features-list__item--team::before
    {
        top: 54px;
        left: 17px;

        width: 106px;
        height: 104px;

        background-position: -20px -1141px;
    }
    .features-list__item--note::before
    {
        top: 52px;
        left: 22px;

        width: 113px;
        height: 113px;

        background-position: -20px -769px;
    }
    .features-list__item--calendar::before
    {
        top: 62px;
        left: 18px;

        width: 107px;
        height: 97px;

        background-position: -20px -1024px;
    }
    .features-list__item--clouds::before
    {
        top: 65px;
        left: 20px;

        width: 118px;
        height: 74px;

        background-position: -20px -408px;
    }
    .features-list__item--networking::before
    {
        top: 48px;
        left: 20px;

        width: 117px;
        height: 113px;

        background-position: -20px -502px;
    }
    .features-list__item--history::before
    {
        top: 35px;
        left: 20px;

        width: 120px;
        height: 130px;

        background-position: -20px -127px;
    }
    .features-list__item--folders::before
    {
        top: 58px;
        left: 22px;

        width: 119px;
        height: 111px;

        background-position: -20px -277px;
    }
    .features-list__item--export::before
    {
        top: 56px;
        left: 23px;

        width: 102px;
        height: 102px;

        background-position: -20px -1265px;
    }
    .features-list__item--server::before
    {
        top: 52px;
        left: 23px;

        width: 113px;
        height: 102px;

        background-position: -20px -902px;
    }
    .features-list__control
    {
        position: absolute;
        bottom: 676px;
        left: 182px;

        display: block;

        width: 230px;

        background-color: white;
    }
    .features-list__circle
    {
        position: relative;

        display: inline-block;

        width: 72px;
        height: 72px;

        border: 4px solid #c6d2d9;
        border-radius: 50%;
    }
    .features-list__circle::before
    {
        position: absolute;

        width: 17px;
        height: 17px;

        content: '';

        border: 6px solid #c6d2d9;
    }
    .features-list__circle--active
    {
        cursor: pointer;
    }
    .features-list__circle--active::before
    {
        border-color: #9fb3bf;
    }
    .features-list__circle--inactive
    {
        cursor: default;
    }
    .features-list__circle--inactive::before
    {
        border-color: #c6d2d9;
    }
    .features-list__right::before
    {
        top: 25px;
        right: 28px;

        transform: rotate(-45deg);

        border-top: none;
        border-left: none;
    }
    .features-list__left
    {
        margin-right: 25px;
        margin-left: 20px;
    }
    .features-list__left::before
    {
        top: 25px;
        left: 27px;

        transform: rotate(-45deg);

        border-right: none;
        border-bottom: none;
    }
}
.integration
{
    display: flex;

    box-sizing: border-box;
    width: 1045px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 65px;
    padding-right: 215px;
    padding-left: 55px;

    border: 1px solid #d0d9e2;
    border-radius: 5px;

    justify-content: space-between;
}
.integration p
{
    font-size: 28px;
    line-height: 150px;

    margin: 0;
    margin-right: 55px;

    color: #2c3e50;
}
.integration__item
{
    width: 180px;
    margin-top: 37px;
}
.integration__item img
{
    width: 162px;
}
.integration__item p
{
    font-size: 17px;
    line-height: 28px;

    margin-top: 13px;
    margin-right: 0;

    color: black;
}
.integration__item--webasyst
{
    position: relative;
}
.integration__item--webasyst::after
{
    font-size: 15px;

    position: absolute;
    top: 48px;
    left: 185px;

    box-sizing: border-box;
    width: 65px;
    height: 27px;
    padding-top: 5px;

    content: 'Скоро';
    text-align: center;

    color: white;
    border-radius: 27px;
    background-color: #fab700;
}
@media (max-width: 640px), handheld
{
    .integration
    {
        flex-direction: column;

        width: 582px;
        height: 600px;
        margin-bottom: 115px;
        padding-top: 35px;
        padding-right: 0;
        padding-bottom: 60px;
        padding-left: 0;

        border-width: 2px;
        border-radius: 10px;
    }
    .integration p
    {
        font-size: 40px;
        line-height: 92px;

        width: 582px;
        margin-bottom: -85px;

        text-align: center;
    }
    .integration__item
    {
        width: 582px;
        margin-top: 0;
    }
    .integration__item img
    {
        display: block;

        width: 297px;
        margin: 0 auto;
    }
    .integration__item p
    {
        font-size: 30px;
        line-height: 48px;

        margin-bottom: 0;
    }
    .integration__item--webasyst img
    {
        width: 270px;
    }
    .integration__item--webasyst::after
    {
        font-size: 30px;
        line-height: 54px;

        top: -60px;
        left: 325px;

        width: 123px;
        height: 54px;
        padding-top: 0;
    }
}
.income-and-expenses
{
    min-width: 1186px;
    padding-top: 70px;

    background-image: url('src/img/features-bg.png');
    background-size: cover;
}
.income-and-expenses .container
{
    box-sizing: border-box;
    padding-left: 70px;
}
.income-and-expenses__descr
{
    font-size: 32px;
    line-height: 47px;

    display: inline-block;

    width: 790px;
    margin-right: 0;
    margin-bottom: 130px;

    color: #2c3e50;
}
.income-and-expenses__descr--green
{
    color: #66bd66;
}
.income-and-expenses .capabilities-list
{
    font-size: 17px;

    position: relative;

    float: left;

    padding-left: 95px;
}
.income-and-expenses .capabilities-list::after
{
    position: absolute;
    top: -60px;
    left: 0;

    width: 500px;
    height: 295px;

    content: '';

    border: 1px solid #d0d9e2;
    border-right: none;
    border-radius: 10px 0 0 10px;
}
.income-and-expenses__screen
{
    width: 675px;
    margin-top: -90px;
    margin-bottom: 60px;
    margin-left: -22px;
}
@media (max-width: 640px), handheld
{
    .income-and-expenses
    {
        overflow: hidden;

        width: 640px;
        min-width: 640px;
        padding-top: 45px;
    }
    .income-and-expenses .container
    {
        padding-left: 0;
    }
    .income-and-expenses .capabilities-list__item::before
    {
        top: 10px;
        left: -70px;
    }
    .income-and-expenses__descr
    {
        font-size: 40px;
        line-height: 72px;

        width: 556px;
        margin-bottom: 111px;
    }
    .income-and-expenses .capabilities-list
    {
        font-size: 30px;
        line-height: 44px;

        width: 480px;
        padding-left: 54px;
    }
    .income-and-expenses .capabilities-list::after
    {
        top: -50px;
        left: 3px;

        width: 580px;
        height: 579px;

        border: 2px solid #d0d9e2;
        border-bottom: none;
        border-radius: 10px 10px 0 0;
    }
    .income-and-expenses__screen
    {
        width: 720px;
        margin-top: -9px;
        margin-bottom: 90px;
        margin-left: -65px;
    }
}
.cost
{
    margin-bottom: 64px;
    padding-top: 80px;
}
.cost__title
{
    font-family: 'ProximaNovaSemibold';
    font-size: 34px;
    line-height: 45px;

    position: relative;

    margin-bottom: 5px;

    text-align: center;

    color: #2c3e50;
}
.cost__title::before
{
    position: absolute;
    top: -64px;
    left: 560px;

    width: 107px;
    height: 50px;

    content: '';

    background-image: url('src/img/sprite.png');
    background-repeat: no-repeat;
    background-position: -10px 0;
    background-size: 84px;
}
.cost__descr
{
    font-size: 20px;

    margin: 0;
    margin-bottom: 52px;

    text-align: center;

    color: #2c3e50;
}
@media (max-width: 640px), handheld
{
    .cost
    {
        width: 640px;
        min-width: 640px;
        margin-bottom: 96px;
        padding-top: 152px;
    }
    .cost__title
    {
        font-size: 44px;
        line-height: 92px;

        margin-bottom: 0;
    }
    .cost__title::before
    {
        top: -120px;
        left: 220px;

        width: 127px;
        height: 107px;

        background-position: -20px 0;
        background-size: 167px;
    }
    .cost__descr
    {
        font-size: 32px;

        margin-bottom: 70px;
    }
}
.price
{
    box-sizing: border-box;
    width: 1186px;

    border-spacing: 28px 0;
    border-collapse: separate;
}
.price td
{
    width: 280px;
    padding-left: 10px;

    border-top: none;
    border-right: 1px solid #e7ecf0;
    border-left: 1px solid #d0d9e2;
}
.price tr,
.price td
{
    text-align: center;

    color: #2c3e50;
}
.price__months
{
    font-family: 'ProximaNovaSemibold';
    font-size: 20px;
    line-height: 62px;

    background-color: #f8fbfb;
}
.price__months td
{
    border-top: 1px solid #d0d9e2;
    border-bottom: 1px solid #e7ecf0;
}
.price__prev-costs
{
    font-family: 'ProximaNovaLight';
    font-size: 22px;
    line-height: 44px;

    text-decoration: line-through;

    opacity: .7;
}
.price__prev-costs td
{
    padding-top: 20px;
}
.price__current-costs
{
    font-family: 'ProximaNovaRegular';
    font-size: 26px;
    line-height: 26px;
}
.price__current-costs td
{
    padding-bottom: 25px;

    border-bottom: 1px solid #d0d9e2;
}
@media (max-width: 640px), handheld
{
    .price
    {
        width: 586px;

        border-spacing: 0;

        border: 2px solid #d0d9e2;
        border-radius: 5px;
    }
    .price .price__month
    {
        width: 230px;
    }
    .price__month
    {
        font-family: 'ProximaNovaSemibold';
        font-size: 32px;
        line-height: 121px;

        background-color: #f8fbfb;
    }
    .price__prev-cost
    {
        font-family: 'ProximaNovaLight';
        font-size: 36px;
        line-height: 121px;

        text-decoration: line-through;

        opacity: .7;
    }
    .price__current-cost
    {
        font-size: 40px;
        line-height: 121px;
    }
    .price td
    {
        height: 121px;
        padding-left: 0;

        border-right: none;
        border-bottom: 1px solid #e7ecf0;
        border-left: none;
    }
}
.registration-form
{
    min-width: 1186px;
    padding-top: 30px;
    padding-bottom: 68px;

    background-color: #63be63;
}
.registration-form__title
{
    font-size: 32px;

    position: relative;

    margin-bottom: 37px;

    text-align: center;

    color: white;
}
.registration-form__title::before
{
    position: absolute;
    top: -100px;
    left: 565px;

    content: '';

    border: 30px solid transparent;
    border-bottom: 18px solid #63be63;
}
.registration-form__title--small-screen
{
    display: none;
}
.registration-form__title--green
{
    font-family: 'ProximaNovaSemibold';

    color: #c7fa90;
}
.registration-form__email
{
    font-size: 15px;

    width: 353px;
    height: 38px;
    margin-right: 15px;
    margin-left: 135px;
    padding-left: 42px;

    color: #2c3e50;
    border: 1px solid #4ab14a;
    border-radius: 5px;
    background-image: url('src/img/sprite.png');
    background-repeat: no-repeat;
    background-position: -23px -874px;
    background-size: 84px;
}
.registration-form__password
{
    font-size: 15px;

    width: 218px;
    height: 38px;
    margin-right: 25px;
    padding-left: 42px;

    color: #2c3e50;
    border: 1px solid #4ab14a;
    border-radius: 5px;
    background-image: url('src/img/sprite.png');
    background-repeat: no-repeat;
    background-position: -23px -845px;
    background-size: 84px;
}
.registration-form__submit
{
    font-size: 17px;

    width: 220px;
    height: 44px;

    cursor: pointer;

    color: white;
    border: 2px solid white;
    border-radius: 5px;
    background: none;
}
@media (max-width: 640px), handheld
{
    .registration-form
    {
        width: 640px;
        min-width: 640px;
        padding-bottom: 100px;
    }
    .registration-form__title
    {
        font-size: 52px;
        line-height: 72px;

        margin-bottom: 50px;
    }
    .registration-form__title--large-screen
    {
        display: none;
    }
    .registration-form__title--small-screen
    {
        display: block;
    }
    .registration-form__title::before
    {
        top: -145px;
        left: 240px;

        border-width: 50px;
        border-bottom-width: 25px;
    }
    .registration-form__email,
    .registration-form__password
    {
        font-size: 28px;
        line-height: 48px;

        width: 502px;
        height: 70px;
        margin-right: 0;
        margin-bottom: 39px;
        margin-left: 0;
        padding-left: 82px;

        border-width: 2px;
        border-radius: 10px;
    }
    .registration-form__email
    {
        background-position: -50px -1740px;
        background-size: 167px;
    }
    .registration-form__password
    {
        background-position: -52px -1683px;
        background-size: 167px;
    }
    .registration-form__submit
    {
        font-size: 28px;
        line-height: 48px;

        width: 586px;
        height: 70px;

        border-radius: 10px;
    }
}
.page-footer
{
    padding-top: 52px;
    padding-bottom: 40px;
}
.page-footer .container
{
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
}
.page-footer__logo
{
    width: 120px;
}
.page-footer__right
{
    position: relative;

    width: 400px;
}
.page-footer__right::before
{
    position: absolute;
    top: 3px;
    right: 469px;

    height: 85px;

    content: '';

    border-left: 1px solid #cad1ca;
}
.page-footer__requisites
{
    font-family: 'ProximaNovaBold';
    font-size: 14px;

    float: left;

    margin-top: 10px;
    margin-right: 180px;
}
.page-footer__ltd
{
    font-size: 14px;

    float: left;

    margin-top: 10px;
}
.page-footer__copyright
{
    font-size: 14px;

    float: right;

    margin-top: 10px;
}
@media (max-width: 640px), handheld
{
    .page-footer
    {
        padding-bottom: 25px;
    }
    .page-footer .container
    {
        flex-wrap: wrap;
    }
    .page-footer__logo
    {
        width: 174px;
        margin-top: 70px;
        margin-left: 30px;
    }
    .page-footer__right
    {
        width: 586px;
    }
    .page-footer__right::before
    {
        top: 163px;
        right: -35px;

        width: 640px;
        height: 3px;

        border-top: 2px solid #cad1ca;
        border-left: none;
    }
    .page-footer__requisites
    {
        display: none;
    }
    .page-footer__ltd
    {
        font-size: 26px;
        line-height: 44px;

        margin-top: 0;
        margin-left: 13px;
    }
    .page-footer__copyright
    {
        display: none;
    }
}
.footer-nav
{
    display: flex;
    flex-direction: column;

    width: 498px;
    height: 90px;
    margin-top: 5px;

    flex-wrap: wrap;
}
.footer-nav__item
{
    font-size: 14px;
    line-height: 28px;
}
@media (max-width: 640px), handheld
{
    .footer-nav
    {
        width: 300px;
        height: auto;
        margin-top: 2px;
        margin-bottom: 50px;
    }
    .footer-nav__item
    {
        font-size: 26px;
        line-height: 56px;
    }
    .footer-nav__item:nth-child(4)
    {
        order: -2;
    }
    .footer-nav__item:nth-child(3)
    {
        order: -1;
    }
}
.social__title
{
    font-family: 'ProximaNovaBold';
    font-size: 14px;

    float: left;

    margin-top: 10px;
    margin-right: 60px;
    margin-bottom: 0;
}
.social__item
{
    float: left;
}
.social__item:not(:last-child)
{
    margin-right: 16px;
}
.social__circle
{
    width: 29px;
    height: 29px;
    margin-top: 2px;

    border: #cad1ca 2px solid;
    border-radius: 50px;
    background-color: transparent;
    background-image: url('src/img/sprite.png');
    background-repeat: no-repeat;
    background-size: 84px;
}
.social__yt-btn
{
    background-position: -31px -798px;
}
.social__ig-btn
{
    background-position: -30px -823px;
}
.social__fb-btn
{
    background-position: -45px -714px;
}
.social__vk-btn
{
    background-position: -5px -787px;
}
@media (max-width: 640px), handheld
{
    .social
    {
        margin-top: 16px;
        margin-bottom: 204px;
    }
    .social__title
    {
        font-size: 26px;
        line-height: 40px;

        width: 226px;
        margin-right: 30px;
        margin-left: 15px;
    }
    .social__circle
    {
        width: 57px;
        height: 57px;

        border-width: 4px;
        background-size: 167px;
    }
    .social__item:not(:last-child)
    {
        margin-right: 18px;
    }
    .social__yt-btn
    {
        background-position: -63px -1588px;
    }
    .social__ig-btn
    {
        background-position: -61px -1635px;
    }
    .social__fb-btn
    {
        background-position: -90px -1418px;
    }
    .social__vk-btn
    {
        background-position: -10px -1564px;
    }
}
.registration-pop-up
{
    position: absolute;
    top: 193px;
    left: 380px;

    display: none;

    width: 582px;
    margin: 0 auto;
    padding-top: 33px;
    padding-bottom: 60px;

    background: white;
}
.registration-pop-up--visible
{
    display: block;
}
.registration-pop-up__exit
{
    font-family: Arial;
    font-size: 35px;

    position: absolute;
    top: 10px;
    right: 10px;

    width: 20px;
    height: 20px;

    transform: rotate(45deg);
    transform-origin: center center;

    color: #bec1c5;
}
.registration-pop-up__title
{
    font-size: 32px;

    margin-bottom: 35px;

    text-align: center;

    color: #2c3e50;
}
.registration-pop-up .registration-form__email
{
    display: block;

    width: 343px;
    margin: 0 auto;
    margin-bottom: 22px;
}
.registration-pop-up .registration-form__password
{
    display: block;

    width: 343px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.registration-pop-up .registration-form__checkbox
{
    display: none;
}
.registration-pop-up .registration-form__checkbox:checked + label::before
{
    cursor: pointer;

    background-image: url('src/img/sprite.png');
    background-repeat: no-repeat;
    background-position: -8px -836px;
    background-size: 84px;
}
.registration-pop-up .registration-form__checkbox + label
{
    display: block;

    width: 388px;
    margin: 0 auto;

    vertical-align: middle;

    color: #6b7884;
}
.registration-pop-up .registration-form__checkbox + label a
{
    text-decoration: underline;

    color: #6b7884;
}
.registration-pop-up .registration-form__checkbox + label::before
{
    display: inline-block;

    width: 20px;
    height: 20px;
    margin-right: 12px;

    content: '';
    vertical-align: middle;

    border: 1px solid #ccd2d9;
    border-radius: 6px;
}
.registration-pop-up .registration-form__submit
{
    display: block;

    width: 215px;
    margin: 0 auto;
    margin-top: 30px;

    border: none;
    background-color: #63be63;
}
@media (max-width: 640px), handheld
{
    .registration-pop-up
    {
        left: 29px;
    }
    .registration-pop-up .registration-form__submit
    {
        font-size: 17px;
    }
}
.enter-pop-up
{
    position: absolute;
    top: 193px;
    left: 380px;

    display: none;

    width: 582px;
    margin: 0 auto;
    padding-top: 33px;
    padding-bottom: 105px;

    background: white;
}
.enter-pop-up--visible
{
    display: block;
}
.enter-pop-up__exit
{
    font-family: Arial;
    font-size: 35px;

    position: absolute;
    top: 10px;
    right: 10px;

    width: 20px;
    height: 20px;

    transform: rotate(45deg);
    transform-origin: center center;

    color: #bec1c5;
}
.enter-pop-up__title
{
    font-size: 32px;

    margin-bottom: 35px;

    text-align: center;

    color: #2c3e50;
}
.enter-pop-up .registration-form__email
{
    display: block;

    width: 343px;
    margin: 0 auto;
    margin-bottom: 22px;
}
.enter-pop-up .registration-form__password
{
    display: block;

    width: 343px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.enter-pop-up .registration-form__submit
{
    width: 175px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 98px;

    border: none;
    background-color: #63be63;
}
.enter-pop-up__forgot-pass
{
    font-size: 15px;

    text-decoration: underline;

    color: #4ab14a;
}
@media (max-width: 640px), handheld
{
    .enter-pop-up
    {
        left: 29px;
    }
}
