.btn {

  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  height: 36px;
  line-height: 35px;
  font-size: 15px;

  &__enter {
    width: 74px;
    background-color: @green;
    color: white;
    border: none;
    text-align: center;
    margin-top: 13px;
  }

  &__registration {
    width: 140px;
    background-color: none;
    color: #7d8993;
    border-color: #8b9197;
    text-align: center;
    margin-top: 13px;
    margin-right: -32px;
  }
}