.cost
{
    margin-bottom: 64px;
    padding-top: 80px;

    &__title
    {
        font-family: 'ProximaNovaSemibold';
        font-size: 34px;
        line-height: 45px;

        position: relative;

        margin-bottom: 5px;

        text-align: center;

        color: @dark-blue;

        &::before
        {
            position: absolute;
            top: -64px;
            left: 560px;

            width: 107px;
            height: 50px;

            content: '';

            background-image: url('src/img/sprite.png');
            background-repeat: no-repeat;
            background-position: -10px -0;
            background-size: 84px;
        }
    }

    &__descr
    {
        font-size: 20px;

        margin: 0;
        margin-bottom: 52px;

        text-align: center;

        color: @dark-blue;
    }
}

@media (max-width: 640px), handheld
{
    .cost
    {
        width: 640px;
        min-width: 640px;
        margin-bottom: 96px;
        padding-top: 152px;

        &__title
        {
            font-size: 44px;
            line-height: 92px;

            margin-bottom: 0;

            &::before
            {
                top: -120px;
                left: 220px;

                width: 127px;
                height: 107px;

                background-position: -20px -0;
                background-size: 167px;
            }
        }

        &__descr
        {
            font-size: 32px;

            margin-bottom: 70px;
        }
    }
}
