.enter-pop-up
{
    position: absolute;
    top: 193px;
    left: 380px;

    display: none;

    width: 582px;
    margin: 0 auto;
    padding-top: 33px;
    padding-bottom: 105px;

    background: white;

    &--visible
    {
        display: block;
    }

    &__exit
    {
        font-family: Arial;
        font-size: 35px;

        position: absolute;
        top: 10px;
        right: 10px;

        width: 20px;
        height: 20px;

        transform: rotate(45deg);
        transform-origin: center center;

        color: #bec1c5;
    }

    &__title
    {
        font-size: 32px;

        margin-bottom: 35px;

        text-align: center;

        color: @dark-blue;
    }

    .registration-form__email
    {
        display: block;

        width: 343px;
        margin: 0 auto;
        margin-bottom: 22px;
    }

    .registration-form__password
    {
        display: block;

        width: 343px;
        margin: 0 auto;
        margin-bottom: 5px;
    }

    .registration-form__submit
    {
        width: 175px;
        margin-top: 30px;
        margin-right: 30px;
        margin-left: 98px;

        border: none;
        background-color: #63be63;
    }

    &__forgot-pass
    {
        font-size: 15px;

        text-decoration: underline;

        color: @green;
    }
}

@media (max-width: 640px), handheld
{
    .enter-pop-up
    {
        left: 29px;
    }
}
