.features-list {
  padding-left: 70px;
  padding-right: 77px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;

  &__item {
    width: 430px;
    position: relative;
    border-bottom: 1px dotted #cacaca;
    padding-left: 90px;
    box-sizing: border-box;
    height: 120px;
    line-height: 120px;

    p {
      line-height: 24px;
      color: black;
      font-size: 17px;
      vertical-align: middle;
      display: inline-block;
    }

    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-image: url("src/img/sprite.png");
    }

    &--planning::before {
      width: 57px;
      height: 57px;
      background-position: -20px -400px;
      top: 32px;
      left: 3px;
    }

    &--networking::before {
      width: 58px;
      height: 56px;
      background-position: -20px -324px;
      top: 38px;
      left: 0px;
    }

    &--team::before {
      width: 53px;
      height: 52px;
      background-position: -20px -621px;
      top: 32px;
      left: 3px;
    }

    &--history::before {
      width: 60px;
      height: 65px;
      background-position: -20px -107px;
      top: 25px;
      left: 3px;
    }

    &--note::before {
      width: 56px;
      height: 56px;
      background-position: -20px -477px;
      top: 29px;
      left: 6px;
    }

    &--folders::before {
      width: 59px;
      height: 55px;
      background-position: -20px -249px;
      top: 28px;
      left: 2px;
    }

    &--calendar::before {
      width: 53px;
      height: 48px;
      background-position: -20px -553px;
      top: 32px;
      left: 5px;
    }

    &--export::before {
      width: 51px;
      height: 51px;
      background-position: -20px -693px;
      top: 26px;
      left: 3px;
    }

    &--clouds::before {
      width: 59px;
      height: 37px;
      background-position: -20px -192px;
      top: 40px;
      left: 3px;
    }

    &--clouds {
      border: none;
    }

    &--server::before {
      width: 56px;
      height: 51px;
      background-position: -20px -909px;
      top: 32px;
      left: 3px;
    }

    &--server {
      border: none;
    }

  }
}