.main-features {
  background-image: url("src/img/features-bg.png");
  padding-top: 117px;
  background-size: cover;
  min-width: 1186px;

  &__title {
    position: relative;
    color: @dark-blue;
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;

    &--green {
      color: @green;
    }

    &::before {
      content: "";
      position: absolute;
      width: 65px;
      height: 65px;
      background-color: none;
      border: 1px solid #c3cfd7;
      border-radius: 50%;
      top: -80px;
      left: 560px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 45px;
      background-image: url("src/img/sprite.png");
      background-repeat: no-repeat;
      background-position: -10px -728px;
      background-size: 84px;
      top: -70px;
      left: 580px;
    }
  }

  .capabilities-list {
    float: right;
    margin-right: 35px;
    margin-top: 10px;
  }

  &__screen {
    width: 680px;
    margin-bottom: 63px;
  }
}

@media (max-width: 640px), handheld {
  .main-features {
    width: 640px;
    min-width: 640px;
    padding-top: 222px;
    overflow: hidden;

    .capabilities-list {
      margin-right: 0;
    }

    &__title {
      width: 586px;
      font-size: 40px;
      line-height: 62px;
      margin-bottom: 55px;

      &::before {
        top: -161px;
        left: 227px;
        width: 120px;
        height: 120px;
        border-width: 4px;
      }

      &::after {
        content: "";
        position: absolute;
        background-image: url("src/img/sprite.png");
        background-repeat: no-repeat;
        background-position: -20px -1458px;
        width: 57px;
        height: 64px;
        left: 260px;
        top: -133px;
        background-size: 167px;
      }
    }

    &__screen {
      width: 720px;
      margin-left: -65px;
      margin-bottom: 45px;
    }
  }
}
