.main-nav {
  display: flex;
  width: 370px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 296px;
  padding-top: 22px;

  &__item {

    a {
      color: #5f6d7c;
    }

    &--active a {
      color: @dark-blue;
    }

  }

}

@media (max-width: 640px), handheld {
  .main-nav {
    width: 72px;
    margin-right: 0;
    padding-top: 0;
    height: 72px;
    background-color: @green;
    border-radius: 10px;
    cursor: pointer;
    position: relative;

    &::after {
      content: "\2261";
      position: absolute;
      color: white;
      font-size: 60px;
      left: 19px;
      top: 0;
    }

    &__item {
      display: none;
    }
  }
}