.main-nav {
  display: flex;
  width: 370px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 296px;
  padding-top: 22px;

  &__item {

    a {
      color: #5f6d7c;
    }

    &--active a {
      color: @dark-blue;
    }

  }

}

