.price {
  width: 1186px;
  box-sizing: border-box;


  border-collapse: separate;
  border-spacing: 28px 0px;

  td {
    padding-left: 10px;
    border-top: none;
    border-left: 1px solid @grey;
    border-right: 1px solid #e7ecf0;
    width: 280px;
  }

  tr,
  td {
    text-align: center;
    color: #2c3e50;
  }


  &__months {
    background-color: #f8fbfb;
    line-height: 62px;
    font-family: "ProximaNovaSemibold";
    font-size: 20px;

      td {
        border-top: 1px solid @grey;
        border-bottom: 1px solid #e7ecf0;
      }
  }

  &__prev-costs {
    line-height: 44px;
    font-family: "ProximaNovaLight";
    font-size: 22px;
    text-decoration: line-through;
    opacity: 0.7;

    td {
      padding-top: 20px;
    }
  }

  &__current-costs {
    line-height: 26px;
    font-family: "ProximaNovaRegular";
    font-size: 26px;

    td {
      border-bottom: 1px solid @grey;
      padding-bottom: 25px;
    }
  }

}

@media (max-width: 640px) {
  .price {
    width: 586px;
    border-spacing: 0;
    border: 2px solid @grey;
    border-radius: 5px;

    .price__month {
      width: 230px;
    }


    &__month {
      font-size: 32px;
      line-height: 121px;
      font-family: "ProximaNovaSemibold";
      background-color: #f8fbfb;
    }

    &__prev-cost {
      font-size: 36px;
      line-height: 121px;
      font-family: "ProximaNovaLight";
      text-decoration: line-through;
      opacity: 0.7;
    }

    &__current-cost {
      font-size: 40px;
      line-height: 121px;
    }

    td {
      border-right: none;
      border-left: none;
      border-bottom: 1px solid #e7ecf0;
      padding-left: 0;
      height: 121px;
    }
  }
}