.price
{
    box-sizing: border-box;
    width: 1186px;

    border-spacing: 28px 0;
    border-collapse: separate;

    td
    {
        width: 280px;
        padding-left: 10px;

        border-top: none;
        border-right: 1px solid #e7ecf0;
        border-left: 1px solid @grey;
    }

    tr,
    td
    {
        text-align: center;

        color: #2c3e50;
    }


    &__months
    {
        font-family: 'ProximaNovaSemibold';
        font-size: 20px;
        line-height: 62px;

        background-color: #f8fbfb;

        td
        {
            border-top: 1px solid @grey;
            border-bottom: 1px solid #e7ecf0;
        }
    }

    &__prev-costs
    {
        font-family: 'ProximaNovaLight';
        font-size: 22px;
        line-height: 44px;

        text-decoration: line-through;

        opacity: .7;

        td
        {
            padding-top: 20px;
        }
    }

    &__current-costs
    {
        font-family: 'ProximaNovaRegular';
        font-size: 26px;
        line-height: 26px;

        td
        {
            padding-bottom: 25px;

            border-bottom: 1px solid @grey;
        }
    }
}

@media (max-width: 640px), handheld
{
    .price
    {
        width: 586px;

        border-spacing: 0;

        border: 2px solid @grey;
        border-radius: 5px;

        .price__month
        {
            width: 230px;
        }


        &__month
        {
            font-family: 'ProximaNovaSemibold';
            font-size: 32px;
            line-height: 121px;

            background-color: #f8fbfb;
        }

        &__prev-cost
        {
            font-family: 'ProximaNovaLight';
            font-size: 36px;
            line-height: 121px;

            text-decoration: line-through;

            opacity: .7;
        }

        &__current-cost
        {
            font-size: 40px;
            line-height: 121px;
        }

        td
        {
            height: 121px;
            padding-left: 0;

            border-right: none;
            border-bottom: 1px solid #e7ecf0;
            border-left: none;
        }
    }
}
