.social {

  &__title {
    font-family: "ProximaNovaBold";
    font-size: 14px;
    margin-top: 10px;
    float: left;
    margin-right: 60px;
    margin-bottom: 0;
  }

  &__item {
    float: left;


    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__circle {
    margin-top: 2px;
    width: 29px;
    height: 29px;

    border: #cad1ca 2px solid;
    border-radius: 50px;
    background-color: transparent;
    background-image: url("src/img/sprite.png");
    background-repeat: no-repeat;
  }

  &__yt-btn {
    background-position: -14px -868px;
  }

  &__ig-btn {
    background-position: -14px -833px;
  }

  &__fb-btn {
    background-position: -88px -396px;
  }

  &__vk-btn {
    background-position: -51px -839px;
  }


}